CONFIG_KAERU_ARM64=y
CONFIG_MEDIATEK_MT6897=y
CONFIG_ONEPLUS_HONDA=y
CONFIG_BOOTLOADER_BASE=0x0
CONFIG_BOOTLOADER_SIZE=0x17CFD0
CONFIG_LK_LOG_STORE=n
CONFIG_FASTBOOT_FAIL_ADDRESS=0x0
CONFIG_FASTBOOT_INFO_ADDRESS=0x0
CONFIG_FASTBOOT_OKAY_ADDRESS=0x0
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x0
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x0
CONFIG_BOOTMODE_ADDRESS=0x0
CONFIG_PLATFORM_INIT_CALLER=0x0
CONFIG_PLATFORM_INIT_ADDRESS=0x0
CONFIG_APP_ADDRESS=0x0
CONFIG_MTK_DETECT_KEY_ADDRESS=0x0
CONFIG_VIDEO_PRINTF_ADDRESS=0x0
